**/bin/
.metadata/
.project
.tmp.drive*

# sincronizar templates:
!.metadata/.plugins/
!.metadata/.plugins/org.eclipse.core.runtime/
!.metadata/.plugins/org.eclipse.core.runtime/.settings/
!.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs